<header style="position: sticky; top: 0;">
    <div id = "header">    
        <h2 id="logo">E-Commerce-01</h1>

            <% if(loggedIn){ %>
                <div id="user-info">
                    <%= username %>
                    <!-- <a class="header-logout btn btn-outline-info" href="/gotoCart"> <button>GotoCart</button> </a> -->
                    <a class="btn btn-outline-info" href="/gotoCart"> GotoCart </a>
                    <a class="btn btn-outline-info" href="/logout"> Logout </a>
                    <a class="btn btn-outline-info" href="/changePass"> Change Password </a>
                </div>
            <% } %>


    </div>
</header>